.sidebar {
  border-right: 1px solid var(--border-color);
  background-color: var(--content-bg);
  width: var(--sidebar-max-width);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  transition: 200ms ease;

  @media screen and (max-width: 900px) {
    display: none;
  }

  &.collapsed {
    width: var(--sidebar-min-width);
  }

  .sidebarHeader {
    height: var(--header-height);
    padding: 10px 20px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .logoLink {
      font-size: var(--font-size-l);
      font-weight: 900;
      color: var(--secondary-color);
    }
  }

  .sidebarBody {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - var(--header-height));
    padding: var(--padding);

    .menuItems {
      display: flex;
      flex-direction: column;
      gap: 7px;
    }
  }
}
