.articleList {
  padding: 20px 0;
  .small {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .big {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
