.select {
  position: relative;

  .top {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bottom {
    position: absolute;
    width: 150px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    top: 130%;
    background-color: var(--content-bg);
    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
    transition: 200ms ease;

    &.show {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      z-index: var(--modal-z-index);
    }
  }
}
